<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>Settings</h1>
      <a href="/settings/new">New Setting</a>
      <h2>Settings are being desplayed here:</h2>
      <ul>
        <% for (let i = 0; i < settings.length; i++){ %>
          <li>
            <a href="/settings/<%=settings[i].id%>">
              <%=settings[i].name%>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="buttons">
      <a href="/elements">Elements Page</a>
    </div>
  </body>
</html>
