<% if(currentUser){ %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Playfair+Display&family=Quicksand&family=Raleway&display=swap" rel="stylesheet">
  <title><%=tabTitle%></title>
<% } else{ %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Welcome Writer!</title>
<% } %>
