<% if(currentUser){ %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title><%=tabTitle%></title>
<% } else{ %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Welcome Writer!</title>
<% } %>
