
if (currentUser){
  <a href="/elements"></a>

  <ul>
    <li><a href="/"></a></li>
  </ul>
}

<a href="/elements">PEN PURSUE</a>

<ul>
  <li><a href="/elements">Home</a></li>
  <li><a href="/users/new">Sign Up</a></li>
  <li><a href="/sessions/new">Log In</a></li>
</ul>
