
<% if (currentUser){ %>
  <a href="/elements"></a>

  <ul>
    <li><a href="/elements">Home</a></li>
    <li><form action="/sessions?_method=DELETE" method="post">
      <button type="submit">Log Out</button>
    </form></li>
  </ul>
<% } else { %>
  <a href="/elements">PEN PURSUE</a>

  <ul>
    <li><a href="/elements">Home</a></li>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
  </ul>
<% } %>
