body {
  display: flex;
  flex-direction: column;
  background-color: rgb(249,222,201);
}
/* styling the navigation bar */
nav{
  display: flex;
  justify-content: space-around;
  background-color: rgb(248, 240, 236);
  padding: 1em;
}
ul{
  display: flex;
  flex-direction: row;
}
li {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;;
}

/* styling the div.container  */

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-text{
  text-align: center;
}

.which-writer{
  display: flex;
  justify-content: space-around;
}

.returning, .new-writer{
  text-align: center;
}
