<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <h1>Home Index Page</h1>
      <ul>
        <li><a href="/characters">Characters</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/plot">Plot</a></li>
        <li><a href="/chapters">Chapters</a></li>
        <li><a href="/notes">Notes</a></li>
      </ul>
  </body>
</html>
