<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <% if(currentUser){ %>
      <div class="container">
        <div class="elements">
          <h1>The Elements</h1>
              <li><a href="/characters">Characters</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="/plots">Plots</a></li>
              <li><a href="/chapters">Chapters</a></li>
              <li><a href="/notes">Notes</a></li>
        </div>
      </div>
    <% }else{ %>
      <div class="container">
        <div class="welcome-text">
          <h1>Welcome Writers to PenPursue!</h1>
          <p>PenPursue is a place where writers of all levels can organize their thoughts whenever inspiration hits or an idea sparks while living life.</p>
          <p>"It is okay to write garbage - as long as you edit brilliantly."
            <br>- C. J. Cherryh</p>
        </div>
        <div class="which-writer">
          <div class="returning">
            <h3>Are you a returning writer?</h3>
            <p>Welcome Back.<br>Sign in to jot down your recently random burst of possible creative gold.</p>
            <button><a href="/sessions/new">Sign In</a></button>
          </div>
          <div class="new-writer">
            <h3>Are you a new writer?</h3>
            <p>Welcome fellow writer. <br> Join other writters on the go who would <br> like to jot down their ideas that will make sense to the future you!</p>
            <button><a href="/users/new">Sign Up</a></button>
          </div>
        </div>
      </div>
    <% } %>
  </body>
</html>
