<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
      <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Playfair+Display&family=Quicksand&family=Raleway&display=swap" rel="stylesheet">
    <title>Signing Up</title>
  </head>
  <body>
    <div class="container">
      <div class="input-field">
        <h1>New User</h1>
        <form action="/users" method="POST">
          <label for="name">Name:</label><br/>
          <input type="text" name="name" required/><br/>
          <label for="username">Username:</label><br/>
          <input type="username" name="username" required/><br/>
          <label for="password">Password:</label><br/>
          <input type="text" name="password" required/><br/>
          <input type="submit" value="SIGN UP">
        </form>
      </div>
    </div>
  </body>
</html>
